@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
  overflow-x: hidden;
  
}

body {
  cursor: url(cursor.png), auto;
  width: 100%;
  min-width: 1100px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px;
  background: url(images/bakgrunn.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  overflow-x: hidden;
  animation: animateBackground 40s ease-in-out infinite alternate;
}

@keyframes animateBackground {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 4rem;
}

p {
  font-family: "Electrolize", sans-serif;
  font-size: 1.5rem;
  margin-top: 30px;
}

header {
  width: 100%;
  height: 100px;
  left: 0;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0));
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-bar {
  width: 850px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar a {
  font-family: "Audiowide", sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  transition: all 0.3s ease;
}

.nav-bar a:hover{
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
    
}

header label {
  width: 60px;
  height: 30px;
  background: lightblue;
  border-radius: 30px;
}

#home {
  height: 800px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  align-self: flex-start;

}

.home-text-container {
  width: 800px;
  padding: 40px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
  translate: 0 -80px;
}
.mars-image {
  min-width: 60%;
  position: absolute;
  top: -400px;
  right: -350px;
  max-width: 100%;
  animation: spin 450s infinite alternate ;
 }


/* .mars-image {
  min-width: 60%;
  position: absolute;
  top: -40%;
  right: -30%;
  max-width: 100%;
  animation: spin 450s infinite alternate ;
 }
 */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#about-us {
  width: 100%;
  min-height: 960px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 300px;
  padding: 0 100px;
}

.aboutus-text-container {
  min-width: 500px;
  padding: 40px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}


.aboutus-text-container p{
  font-family: "Electrolize", sans-serif;
  font-size: 1.5rem;
}

.employe-picture-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.employe-picture-container img{
  width: 300px;
  height: 350px;
  margin-right: 100px;
  object-fit: cover;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

.alien-img {
  object-position: 0px 20px;
}


#testimonials {
  width: 100%; 
  min-height: fit-content; 
  margin-top: 100px;
}
 

#testimonials {
  display: flex;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
}

.testimonials-track {
  display: flex;
  gap: 60px;
  animation: scroll 60s linear infinite alternate;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.testimonial-container {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
  box-shadow: 2px 2px 6px inset white;
  flex-shrink: 0;
}


.testimonial-container img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}


#contact {
  width: calc(100% - 160px);
  margin: 0 auto;
  min-height: 600px;
  margin-top: 150px; 
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 0 100px;
}

.contact-text-container {
  width: 950px;
  height: 360px;
  padding: 40px;
  margin-top: 10px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
  flex-shrink: 0;
}

#contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
#contact input{
  width: 350px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 20px;
  background: rgba(8, 19, 61, 0.8);
  font-family: "Electrolize", sans-serif;
  color: white;
  box-shadow: 2px 2px 6px inset white;
}

#contact input:focus{
  border: none;
}

input::placeholder,
textarea::placeholder{
  color: white;
}

#contact textarea{
  min-width: 350px;
  max-width: 350px;
  min-height: 260px;
  max-height: 260px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 12px 20px;
  background: rgba(8, 19, 61, 0.8);
  font-family: "Electrolize", sans-serif;
  color: white;
  box-shadow: 2px 2px 6px inset white;
}

#contact button{
  width: 100px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 20px;
  font-family: "Electrolize", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px inset rgb(0, 23, 156);
}

#contact button:hover {
  background-color: rgb(223, 69, 69);
  color: white;
  box-shadow: 2px 2px 6px inset rgb(139, 253, 243);
}
#contact button:active{
  translate: 0px 1px;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joke-container img{
  width: 300px;
  translate: 30px;
}

.joke-container p{
  font-size: 1.5rem;
  padding: 20px 20px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

@media all and (max-width: 1300px) {
 h1 {
      font-family: "Audiowide", sans-serif;
  font-size: 3rem;
}

p {
  font-family: "Electrolize", sans-serif;
  font-size: 1rem;
  margin-top: 30px;
}

.nav-bar a{
    font-size: 2rem;
}

.home-text-container {
  width: 600px;
  padding: 40px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

.aboutus-text-container {
    max-width: 600px;
  min-width: 600px;
  flex-shrink: 0;
}

#about-us {
  min-height: 600px;
  gap: 50px;
align-items: center;
margin: 0;
justify-content: space-between;
}

.employe-picture-container img{
  width: 250px;
  height: 230px;
  margin: 0;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employe-picture-container {
  margin: 0;
}

.testimonial-container{
    width: 400px;
}

.testimonial-container img{
  width: 150px;
  height: auto;
  object-fit: fill;
}

#contact {
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 20px;
  margin-top: 50px; 
  min-height: 600px;
}

.contact-text-container {
  max-width: 600px;
  min-width: 600px;
  height: auto;
  padding: 20px;
    margin-top: 0;
}

#contact form{
    gap: 10px;
    margin-top: 50px;
}

#contact input{
  width: 250px;
  height: 30px;
}

#contact textarea{
  min-width: 250px;
  max-width: 250px;
  min-height: 170px;
  max-height: 170px;
}

footer{
    height: 100px;
    font-size: 2rem;
}

.joke-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  translate: 15px -20px;
}

.joke-container img{
  width: 200px;
  translate: 20px;
}

.joke-container p{
  font-size: 1rem;
  padding: 20px 20px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

}

@media all and (max-width: 450px) {

body {
  min-width: 375px;
  padding: 0;
  align-items: center;
}
   h1 {
      font-family: "Audiowide", sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: "Electrolize", sans-serif;
  font-size: 1rem;
  margin-top: 30px;
}

header {
 max-width: 410px;
  padding: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.nav-bar {
  width: 300px;
  justify-content: space-around;
}

.nav-bar a{
    font-size: 1rem;
}

.mars-image {
  scale: 0.4;
  top: 0;
  right: 0;
  position: absolute;
  justify-self: flex-end;
  animation: spin 450s infinite alternate ;
  z-index: -1;
  translate: 100px -100px;
 }

 #home {
  height: 450px;
  flex-direction: column;
  padding: 0;
 }

 .home-text-container {
  width: 300px;
  height: 250px;
  overflow: scroll;
  align-self: flex-start;
  margin-left: 15px;
  translate: 0 20px;
 }

 .aboutus-text-container {
  max-width: 35px;
  min-width: 350px;
  max-height: 250px;
  flex-shrink: 0;
  overflow: scroll;
}


 #about-us {
  width: 370px;
  min-height: 450px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 0;
  align-self: center;
 }

 .employe-picture-container {
  flex-direction: row;
 }

 .employe-picture-container img{
  width: 160px;
  height: 160px;
  margin: 0;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-container{
    width: 300px;
}

.testimonial-container img{
  width: 120px;
  height: auto;
  object-fit: fill;
}

#contact {
  min-height: 450px;
  flex-direction: column;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

#contact form{
  margin: 0;
  gap: 20px;
}

.contact-text-container p{
  display: none;
}

.contact-text-container {
  max-width: 350px;
  min-width: 300px;
  height: auto;
  padding: 20px;
    margin-top: 0;
    text-align: center;
}

footer h1{
  align-self: center;
}
}