@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 1100px;
  min-height: 100vh;
  margin: 0;
  padding: 0 80px;
  color: white;
  background: url(images/bakgrunn.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  animation: animateBackground 40s ease-in-out infinite alternate;
}

@keyframes animateBackground {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}

/* TYPOGRAPHY */
h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 4rem;
}

p {
  font-family: "Electrolize", sans-serif;
  font-size: 1.5rem;
  margin-top: 30px;
}

/* HEADER */
header {
  position: fixed;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0));
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 850px;
  height: 80px;
}

.nav-bar a {
  font-family: "Audiowide", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.nav-bar a:hover {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
}

header label {
  width: 60px;
  height: 30px;
  background: lightblue;
  border-radius: 30px;
}

/* HOME */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  height: 800px;
  padding: 0 100px;
  overflow: hidden;
}

.home-text-container {
  width: 800px;
  padding: 40px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
  translate: 0 -80px;
}

.mars-image {
  position: absolute;
  top: -400px;
  right: -350px;
  min-width: 60%;
  max-width: 100%;
  animation: spin 450s infinite alternate;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ABOUT US */
#about-us {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 960px;
  margin-top: 100px;
  padding: 0 100px;
  gap: 300px;
}

.aboutus-text-container {
  min-width: 500px;
  padding: 40px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

.aboutus-text-container p {
  font-family: "Electrolize", sans-serif;
}

.employe-picture-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.employe-picture-container img {
  width: 300px;
  height: 350px;
  margin-right: 100px;
  object-fit: cover;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

.alien-img {
  object-position: 0px 20px;
}

/* TESTIMONIALS */
#testimonials {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: fit-content;
  margin-top: 100px;
  gap: 50px;
  overflow: hidden;
}

.testimonials-track {
  display: flex;
  gap: 60px;
  animation: scroll 40s ease-in-out infinite alternate;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.testimonial-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 600px;
  padding: 0 20px;
  gap: 20px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
  overflow: hidden;
}

.testimonial-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 160px);
  min-height: 600px;
  margin: 150px auto 0 auto;
  padding: 0 100px;
  gap: 200px;
}

.contact-text-container {
  flex-shrink: 0;
  width: 950px;
  height: 360px;
  padding: 40px;
  margin-top: 10px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

#contact input {
  width: 350px;
  height: 40px;
  padding-left: 20px;
  background: rgba(8, 19, 61, 0.8);
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-family: "Electrolize", sans-serif;
  box-shadow: 2px 2px 6px inset white;
}

#contact input:focus {
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

#contact textarea {
  min-width: 350px;
  max-width: 350px;
  min-height: 260px;
  max-height: 260px;
  padding: 12px 20px;
  background: rgba(8, 19, 61, 0.8);
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-family: "Electrolize", sans-serif;
  box-shadow: 2px 2px 6px inset white;
}

#contact button {
  width: 100px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 20px;
  font-family: "Electrolize", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px inset rgb(0, 23, 156);
}

#contact button:hover {
  background-color: rgb(223, 69, 69);
  color: white;
  box-shadow: 2px 2px 6px inset rgb(139, 253, 243);
}

#contact button:active {
  translate: 0 1px;
}

.joke-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joke-container img {
  width: 300px;
  translate: 30px;
}

.joke-container p {
  font-size: 1.5rem;
  padding: 20px;
  background: rgba(8, 19, 61, 0.5);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 2px 2px 6px inset white;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

/* MEDIA QUERIES 1300PX */
@media all and (max-width: 1300px) {

  /* TYPOGRAPHY */
  h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 3rem;
  }

  p {
    font-family: "Electrolize", sans-serif;
    font-size: 1rem;
    margin-top: 30px;
  }

  /* HEADER */

  .nav-bar a {
    font-size: 2rem;
  }

  /* HOME */

  .home-text-container {
    width: 600px;
    padding: 40px;
    background: rgba(8, 19, 61, 0.5);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 2px 2px 6px inset white;
  }

  /* ABOUT US */

  #about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 600px;
    margin: 0;
    gap: 50px;
  }

  .aboutus-text-container {
    max-width: 600px;
    min-width: 600px;
    flex-shrink: 0;
  }

  .employe-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .employe-picture-container img {
    width: 250px;
    height: 230px;
    margin: 0;
    object-fit: contain;
  }

  /* TESTIMONIALS */

  .testimonial-container {
    width: 400px;
  }

  .testimonial-container img {
    width: 150px;
    height: auto;
    object-fit: fill;
  }

  /* CONTACT */

  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding: 0 20px;
    margin-top: 50px;
    gap: 50px;
  }

  .contact-text-container {
    max-width: 600px;
    min-width: 600px;
    height: auto;
    padding: 20px;
    margin-top: 0;
  }

  #contact form {
    gap: 10px;
    margin-top: 50px;
  }

  #contact input {
    width: 250px;
    height: 30px;
  }

  #contact textarea {
    min-width: 250px;
    max-width: 250px;
    min-height: 170px;
    max-height: 170px;
  }

  .joke-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    translate: 15px -20px;
  }

  .joke-container img {
    width: 200px;
    translate: 20px;
  }

  .joke-container p {
    font-size: 1rem;
    padding: 20px;
    background: rgba(8, 19, 61, 0.5);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 2px 2px 6px inset white;
  }

  /* FOOTER */

  footer {
    height: 100px;
    font-size: 2rem;
  }
}

/* MEDIA QUERIES 450PX */
@media all and (max-width: 450px) {
  body {
    min-width: 375px;
    padding: 0;
    align-items: center;
  }

  /* TYPOGRAPHY */

  h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 1.5rem;
  }

  p {
    font-family: "Electrolize", sans-serif;
    font-size: 1rem;
    margin-top: 30px;
  }

  /* HEADER */

  header {
    max-width: 410px;
    padding: 10px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .nav-bar {
    width: 300px;
    justify-content: space-around;
  }

  .nav-bar a {
    font-size: 1rem;
  }

  /* HOME */

  #home {
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 0;
  }

  .mars-image {
    position: absolute;
    top: 0;
    right: 0;
    scale: 0.4;
    justify-self: flex-end;
    animation: spin 400s infinite alternate;
    z-index: -1;
    translate: 100px -100px;
  }

  .home-text-container {
    width: 300px;
    height: 250px;
    margin-left: 15px;
    overflow: scroll;
    align-self: flex-start;
    translate: 0 20px;
  }

  /* ABOUT US */

  #about-us {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 370px;
    min-height: 450px;
    padding: 0;
    align-self: center;
  }

  .aboutus-text-container {
    max-width: 35px;
    min-width: 350px;
    max-height: 250px;
    flex-shrink: 0;
    overflow: scroll;
  }

  .employe-picture-container {
    display: flex;
    flex-direction: row;
  }

  .employe-picture-container img {
    width: 160px;
    height: 160px;
    margin: 0;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* TESTIMONIALS */

  .testimonials-track {
    animation: scroll 20s ease-in-out infinite alternate;
  }

  .testimonial-container {
    width: 350px;
  }

  .testimonial-container img {
    width: 120px;
    object-fit: fill;
  }

  .testimonial-container img[src="images/transparent chewbakka.png"],
  .testimonial-container img[src="images/transparent oompa loompa.png"] {
    width: 155px;
  }

  /* CONTACT */

  #contact {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    margin: 50px 0 0 0;
    padding: 0;
  }

  #contact form {
    margin: 0;
    gap: 20px;
  }

  .contact-text-container {
    max-width: 350px;
    min-width: 300px;
    height: auto;
    padding: 20px;
    margin-top: 0;
    text-align: center;
  }

  .contact-text-container p {
    display: none;
  }

  /* FOOTER */

  footer h1 {
    align-self: center;
  }
}
